{% extends "FOSUserBundle::layout.html.twig" %}
{%  block body %}

    <form class="form-signin" action="{{ path('fos_user_registration_register') }}" method="post">
        {{ form_errors(form) }}
        <img class="mb-4" src="{{ asset('assets/images/images.png') }}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        <div class="row form-group">
            <div class="col">
                <label for="fos_user_registration_form_firstName" class="sr-only">First Name</label>
                {{ form_widget(form.firstName, { 'attr': { 'class': 'form-control', 'placeholder':'First Name', 'id':'fos_user_registration_form_firstName'}}) }}
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <label for="fos_user_registration_form_lastname" class="sr-only">Last Name</label>
                {{ form_widget(form.lastName, { 'attr': { 'class': 'form-control', 'placeholder':'Last Name', 'id':'fos_user_registration_form_lastname' }}) }}
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="sr-only">Email address</label>
            {{ form_widget(form.email, { 'attr': { 'class': 'form-control', 'placeholder':'Email', 'id':'inputEmail', 'required': 'true', 'autofocus':'true'}}) }}
        </div>
        <div class="form-group">
            <label for="inputEmail" class="sr-only">User Name</label>
            {{ form_widget(form.username, { 'attr': { 'class': 'form-control', 'placeholder':'Username', 'id':'username', 'required': 'true', 'autofocus':'true'}}) }}
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            {{ form_widget(form.plainPassword.first , { 'attr': { 'class': 'form-control', 'placeholder':'Password', 'id':'inputPassword', 'required': 'true'}}) }}
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Confirm Password</label>
            {{ form_widget(form.plainPassword.second , { 'attr': { 'class': 'form-control', 'placeholder':'Confirm Password', 'id':'confirmPassword', 'required': 'true'}}) }}
        </div>
        <div class="row form-group">
            <p>Please Choose your profile</p>
            <div class="form-check form-check-inline">
                {{ form_widget(form.profileType, { 'attr': {"class":"form-check-input", 'id':'inlineRadio1', 'value': 'Doctor'}}) }}
            </div>
            <div class="form-check form-check-inline">
                {{ form_widget(form.profileType, { 'attr': {"class":"form-check-input", 'id':'inlineRadio1', 'value': 'Pharmacist'}}) }}
            </div>
        </div>
        <div class=" row form-group">
            <div class="form-check form-check-inline">
                {{ form_widget(form.profileType, { 'attr': {"class":"form-check-input", 'id':'inlineRadio1', 'value': 'Patient'}}) }}
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </div>
    {{ form_rest(form) }}
    </form>
{% endblock %}